<div class="bg-gradient text-light" id="systemActivityTable">
  <div class="row align-items-center justify-content-center p-2">
    <div class="col-12 col-sm-3 align-self-center" style="max-width: 240px;" *ngIf="selectedTab">
      <h6 class="mb-0 text-center py-2">{{selectedTab.name}}</h6>
    </div>
    <div class="col-12 col-sm-7 justify-content-center align-items-center" *ngIf="selectedTab">
      <ngb-tabset type="pills" class="custom-pills" (tabChange)="onTabChange($event.nextId)" [activeId]="selectedTab.id">
        <ng-container *ngFor="let tab of userAccountTabs">
          <ngb-tab [id]="tab.id">
            <ng-template ngbTabTitle>
              {{tab.name}} <br>
            </ng-template>
          </ngb-tab>
        </ng-container>
      </ngb-tabset>
    </div>
    <div class="col-12 col-sm-2 text-center">
      <hr class="mt-0 d-sm-none">
      <a class="gold-link font-10" href="javascript:void(0)">
        <fa-icon [icon]="faDownload" [fixedWidth]="true"></fa-icon>
        Download {{selectedTab.name}}
      </a>
    </div>
  </div>

  <hr class="mt-0 mb-0">
</div>

<div class="bg-gradient text-light">
  <div class="row justify-content-center align-items-center mb-1 p-2">
    <div class="col-12 col-sm-3 text-center py-2">
      <span class="align-middle font-weight-bolder font-14">User Accounts (9,000,000)</span>
    </div>
    <div class="col-6 col-sm-3 text-center">
      <button class="btn btn-gold" style="outline: none!important"
              [routerLink]="['/admin/overview', {outlets: {popup: ['confirm-status', 'App Sign In']}}]">
        {{adminService.isUserSignInPaused ? 'Activate' : 'Pause' }} User App Sign In
      </button>
    </div>
    <div class="col-6 col-sm-3 text-center">
      <button class="btn btn-gold" style="outline: none!important"
              [routerLink]="['/admin/overview', {outlets: {popup: ['confirm-status', 'Sign Up']}}]">
        {{adminService.isUserSignUpPaused ? 'Activate' : 'Pause' }} New User Sign Up
      </button>
    </div>
    <div class="col-6 col-sm-3 text-center mt-2 mt-sm-0">
      <div class="row">
        <div class="col search">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #CFA256 !important">
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <fa-icon style="color: #CFA256 " [icon]="faSearch"></fa-icon>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-none d-md-block"></div>
  </div>
</div>

<div class="table-responsive bg-gradient text-light pull-top">
  <table class="table mb-0">
    <thead>
    <tr class="font-weight-bolder font-10 text-light">
      <th (click)="sortBySignUpDate()" class="cancel width-91px">
        Sign Up Date
        <fa-icon [icon]="faSortBySignUpDate" style="color: #CFA256 ;"></fa-icon>
      </th>
      <th class="width-91px">First Name</th>
      <th class="width-101px">Last Name</th>
      <th class="width-101px">Email Address</th>
      <th class="width-91px">Account</th>
      <th class="width-91px">GRAYLL ID</th>
      <ng-container *ngIf="selectedTab.id === 'uapg'">
        <th (click)="sortByCurrentAlgoPositionUSD()" class="cancel width-91px">
          Algo Positions <br> (USD)
          <fa-icon [icon]="faSortByCurrentAlgoPositionsUSD" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByHistoricalAlgoPositionUSD()" class="cancel width-91px">
          Algo Positions <br> (USD)
          <fa-icon [icon]="faSortByHistoricalAlgoPositionsUSD" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Historical Account Total</small>
        </th>
        <th (click)="sortByAlgoCommissionsUSD()" class="cancel width-91px">
          Algo Commissions <br> (USD)
          <fa-icon [icon]="faSortByAlgoCommissionsUSD" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Historical Total</small>
        </th>
        <th (click)="sortByOpenAlgoPositions()" class="cancel width-91px">
          Open Algo <br> Positions (#)
          <fa-icon [icon]="faSortByOpenAlgoPositions" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByClosedAlgoPositions()" class="cancel width-91px">
          Closed Algo <br> Positions (#)
          <fa-icon [icon]="faSortByClosedAlgoPositions" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Historical Account Total</small>
        </th>
      </ng-container>
      <ng-container *ngIf="selectedTab.id === 'uapd'">
        <th (click)="sortByGRYOpenPositions()" class="cancel width-91px">
          GRY Open <br> Positions (USD)
          <fa-icon [icon]="faSortByGRYOpenPositions" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByGRY1OpenPositions()" class="cancel width-91px">
          GRY 1 Open <br> Positions (USD)
          <fa-icon [icon]="faSortByGRY1OpenPositions" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByGRY2OpenPositions()" class="cancel width-91px">
          GRY 2 Open <br> Positions (USD)
          <fa-icon [icon]="faSortByGRY2OpenPositions" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByGRY3OpenPositions()" class="cancel width-91px">
          GRY 3 Open <br> Positions (USD)
          <fa-icon [icon]="faSortByGRY3OpenPositions" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByGRZOpenPositions()" class="cancel width-91px">
          GRZ Open <br> Positions (USD)
          <fa-icon [icon]="faSortByGRZOpenPositions" style="color: #CFA256 ;"></fa-icon>
          <br>
          <small>Historical Total</small>
        </th>
      </ng-container>
    </tr>
    </thead>

    <tbody class="font-8 text-light" infiniteScroll [infiniteScrollDistance]=".1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
    <div class="right-arrow-mobile-scroll-indicator-div d-sm-none">
      <img class="right-arrow-mobile-scroll-indicator-img" src="assets/images/right-chevron.png" alt="Scroll right for more">
    </div>
    <tr *ngFor="let user of userAccounts">
      <td class="width-91px">{{user.signUpDate}}</td>
      <td class="width-91px">{{user.firstName | slice:0:18}}</td>
      <td class="width-101px">{{user.lastName | slice:0:32}}</td>
      <td class="width-101px" style="word-break: break-all">{{user.emailAddress | slice:0:32}}</td>
      <td class="width-91px">
        <a href="https://stellar.expert/explorer" class="gold-link" target="_blank">
          {{user.account}}
        </a>
      </td>
      <td class="width-91px">
        <a href="javascript:void(0)" class="gold-link">
          {{user.grayllId}}
        </a>
      </td>
      <ng-container *ngIf="selectedTab.id === 'uapg'">
        <td class="width-91px">{{user.algoPositionsCurrentUSD}}</td>
        <td class="width-91px">{{user.algoPositionsHistoricalUSD}}</td>
        <td class="width-91px">{{user.algoCommissionsUSD}}</td>
        <td class="width-91px">{{user.openAlgoPositions}}</td>
        <td class="width-91px">{{user.closedAlgoPositions}}</td>
      </ng-container>
      <ng-container *ngIf="selectedTab.id === 'uapd'">
        <td class="width-91px">{{user.gryOpenPositions}}</td>
        <td class="width-91px">{{user.gry1OpenPositions}}</td>
        <td class="width-91px">{{user.gry2OpenPositions}}</td>
        <td class="width-91px">{{user.gry3OpenPositions}}</td>
        <td class="width-91px">{{user.grzOpenPositions}}</td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
