<div class="row mt-3">
  <div class="col-sm-12 col-md-6 input-form">
    <div class="card font-12">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Input Function 4</span>
          </div>
        </div>
      </div>
      <div class="card-body data-box">
        <div class="form-group row">
          <label for="las" class="col-sm-4 col-form-label">L<sub>as</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="las" placeholder="80.00">
            <small>Available Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="maxas" class="col-sm-4 col-form-label">Max<sub>as</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="maxas" placeholder="100.00">
            <small>Maximum Available (Circulating) Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="minas" class="col-sm-4 col-form-label">Min<sub>as</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="minas" placeholder="2.00">
            <small>Minimum Available (Circulating) Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rmints" class="col-sm-4 col-form-label">R<sub>min_ts</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rmints" placeholder="0.00">
            <small>Minimum Rate of Increase | Total Supply</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rmaxts" class="col-sm-4 col-form-label">R<sub>max_ts</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rmaxts" placeholder="5.00">
            <small>Maximum Rate of Increase | Total Supply</small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="c" class="col-sm-4 col-form-label">C</label>
          <div class="col-sm-4">
            <input type="text" class="form-control font-10 transparent-field" id="c" placeholder="3">
            <small class="d-sm-none">Adjusting Factor | Rate of Increase | Total Supply (Concave + | Convex -)</small>
          </div>
          <div class="col-sm-4 text-right">
            <button class="btn btn-purple btn-sm" (click)="submit(4)">Run Function 4</button>
          </div>
        </div>
        <div class="row d-none d-sm-flex">
          <div class="col-sm-8 offset-sm-4">
            <small>Adjusting Factor | Rate of Increase | Total Supply (Concave + | Convex -)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card font-12 last-card">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Current Total Supply Adjusted by Function 3 & 4</span>
          </div>
        </div>
      </div>
      <div class="card-body data-box last-card-body">
        <div class="form-group row mb-0">
          <label for="hhts" class="col-sm-4 col-form-label">Historical High Total Supply</label>
          <div class="col-sm-4">
            <input type="text" class="form-control font-10 transparent-field" id="hhts" placeholder="2,500,000,000">
            <small class="d-sm-none">Historical High Total Supply</small>
          </div>
          <div class="col-sm-3 text-center">
            <button class="btn btn-purple btn-sm">Reset Total Supply</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-3 offset-sm-4 d-none d-sm-flex">
            <small>Historical High Total Supply</small>
          </div>
          <div class="col text-right">
            <small class="text-orange" *ngIf="adminService.didRunFunction4">
              Increased 2,847,375 GRX After Execution of Function 4
            </small>
            <small class="text-orange" *ngIf="adminService.didRunFunction3">
              Increased 2,847,375 GRX After Execution of Function 3
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 input-form">
    <div class="card font-12 h-100 last-card">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Output Function 4</span>
            <div class="data-tip">
              <span>Download Output</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box last-card-body">
        <div class="form-group row">
          <label for="las" class="col-sm-4 col-form-label">Result (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="result" placeholder="80.00">
            <small>Increase Total Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="uas" class="col-sm-4 col-form-label">Updated Available Supply (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="uas" placeholder="100.00">
            <small>Updated Available Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="has" class="col-sm-4 col-form-label">Historical Available Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="has" placeholder="2,500,000,000">
            <small>Available Supply | Last Historical High</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="pas" class="col-sm-4 col-form-label">Previous Available Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="pas" placeholder="2,500,000,000">
            <small>Value = L<sub>as</sub> (%) Before Execution | Function 4</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="ias" class="col-sm-4 col-form-label">Increased Available Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="ias" placeholder="2,500,000,000">
            <small>Increase in Available & Total Supply</small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="cas" class="col-sm-4 col-form-label">Current Available Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="cas" placeholder="2,500,000,000">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 offset-sm-4">
            <small>Total Available Supply After Execution | Function 4</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-12 col-md-6 input-form" style="height: 400px; overflow: hidden">
    <div class="card font-12 h-100 last-card">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Input Function 3</span>
          </div>
        </div>
      </div>
      <div class="card-body data-box last-card-body">
        <div class="form-group row">
          <label for="lrs" class="col-sm-4 col-form-label">L<sub>rs</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="lrs" placeholder="80.00">
            <small>Reserve Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="maxrs" class="col-sm-4 col-form-label">Max<sub>rs</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="maxrs" placeholder="100.00">
            <small>Maximum Reserve Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="minrs" class="col-sm-4 col-form-label">Min<sub>rs</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="minrs" placeholder="2.00">
            <small>Minimum Reserve Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rmints" class="col-sm-4 col-form-label">R<sub>min_ts</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rmints" placeholder="0.00">
            <small>Minimum Rate of Increase | Total Supply</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rmaxts" class="col-sm-4 col-form-label">R<sub>max_ts</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rmaxts" placeholder="5.00">
            <small>Maximum Rate of Increase | Total Supply</small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="c" class="col-sm-4 col-form-label">C</label>
          <div class="col-sm-4">
            <input type="text" class="form-control font-10 transparent-field" id="c" placeholder="3">
            <small class="d-sm-none">Adjusting Factor | Rate of Increase | Total Supply (Concave + | Convex -)</small>
          </div>
          <div class="col-sm-4 text-right">
            <button class="btn btn-purple btn-sm" (click)="submit(3)">Run Function 3</button>
          </div>
        </div>
        <div class="row d-none d-sm-flex">
          <div class="col-sm-8 offset-sm-4">
            <small>Adjusting Factor | Rate of Increase | Total Supply (Concave + | Convex -)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card h-100 last-card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Output Function 3</span>
            <div class="data-tip">
              <span>Download Output</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-12 last-card-body">
        <div class="form-group row">
          <label for="las" class="col-sm-4 col-form-label">Result (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="result" placeholder="80.00">
            <small>Increase Total Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="urs" class="col-sm-4 col-form-label">Updated Reserve Supply (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="urs" placeholder="100.00">
            <small>Updated Reserve Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="hrs" class="col-sm-4 col-form-label">Historical Reserve Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="hrs" placeholder="2,500,000,000">
            <small>Reserve Supply | Last Historical High</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="prs" class="col-sm-4 col-form-label">Previous Reserve Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="prs" placeholder="2,500,000,000">
            <small>Value = L<sub>rs</sub> (%) Before Execution | Function 3</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="irs" class="col-sm-4 col-form-label">Increased Reserve Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="irs" placeholder="2,500,000,000">
            <small>Increase in Reserve & Total Supply</small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="crs" class="col-sm-4 col-form-label">Current Reserve Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="crs" placeholder="2,500,000,000">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 offset-sm-4">
            <small>Total Available Supply After Execution | Function 3</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-12 col-md-6 input-form" style="height: 290px; overflow: hidden">
    <div class="card font-12 h-100 last-card">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Input Function 2</span>
          </div>
        </div>
      </div>
      <div class="card-body data-box last-card-body">
        <div class="form-group row">
          <label for="las" class="col-sm-4 col-form-label">L<sub>as</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="las" placeholder="80.00">
            <div class="row">
              <div class="col-5">
                <small>Available Supply (%)</small>
              </div>
              <div class="col-7 text-right" *ngIf="adminService.didRunFunction4">
                <small class="text-orange">
                  (Updated After Running Function 4)
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="minas" class="col-sm-4 col-form-label">Min<sub>as</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="minas" placeholder="100.00">
            <small>Minimum Available (Circulating) Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rbi" class="col-sm-4 col-form-label">R<sub>bi</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rbi" placeholder="0.00">
            <small>Start Rate of Value Increase</small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="c" class="col-sm-4 col-form-label">C</label>
          <div class="col-sm-4">
            <input type="text" class="form-control font-10 transparent-field" id="c" placeholder="3">
            <small class="d-sm-none">Adjusting Factor | Rate of Increase | Total Supply</small>
          </div>
          <div class="col-sm-4 text-right">
            <button class="btn btn-purple btn-sm" (click)="submit(2)">Run Function 2</button>
          </div>
        </div>
        <div class="row d-none d-sm-flex">
          <div class="col-sm-8 offset-sm-4">
            <small>Adjusting Factor | Rate of Increase | Total Supply</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card h-100 last-card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Output Function 2</span>
            <div class="data-tip">
              <span>Download Output</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-12 last-card-body">
        <div class="form-group row">
          <label for="las" class="col-sm-4 col-form-label">Result (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="result" placeholder="80.00">
            <div class="row">
              <div class="col-5">
                <small>Increase Total Supply (%)</small>
              </div>
              <div class="col-7 text-right" *ngIf="adminService.didRunFunction4">
                <small class="text-orange">
                  (Updated After Running Function 4)
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-12 col-lg-6 input-form" style="height: 760px; overflow: hidden">
    <div class="card font-12 h-100">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Input Function 1</span>
          </div>
        </div>
      </div>
      <div class="card-body data-box">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Select Unit</label>
          <div class="col-sm-8" id="selectUnit">
            <ng-select [items]="selectUnits"
                       [searchable]="false"
                       [clearable]="false"
                       bindLabel="value"
                       [(ngModel)]="selectedUnit">
            </ng-select>
            <small>Select Time Unit</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="initial" class="col-sm-4 col-form-label">P<sub>0</sub> </label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="initial" placeholder="0.01">
            <small>Value of Asset/Position</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rbi" class="col-sm-4 col-form-label">R<sub>bi</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rbi" placeholder="1.30">
            <small>Start Rate of Increase (bi)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rmaxi" class="col-sm-4 col-form-label">R<sub>max_i</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rmaxi" placeholder="1.80">
            <small>Max Rate of Increase (mi)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rbd" class="col-sm-4 col-form-label">R<sub>bd</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rbd" placeholder="1.20">
            <small>Start Rate of Decrease (bd)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="tmaxi" class="col-sm-4 col-form-label">T<sub>max_i</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="tmaxi" placeholder="14">
            <small>Time from Start Date of Increase to Max Rate of Increase (Tm)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="tmax0" class="col-sm-4 col-form-label">T<sub>maxi_0</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="tmax0" placeholder="14">
            <small>Time from Max Rate of Increase to Zero Rate of Decrease (Tz)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rmaxd" class="col-sm-4 col-form-label">R<sub>max_d</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rmaxd" placeholder="9">
            <small>Max Rate of Decrease (md)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="t0maxd" class="col-sm-4 col-form-label">T<sub>0_max_d</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="t0maxd" placeholder="28">
            <small>Time from Start Rate of Decrease to Max Rate of Decrease (Tn)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="bfaf" class="col-sm-4 col-form-label">Log base</label>
          <div class="col-sm-8" id="selectLog">
            <ng-select [items]="selectLog"
                       [searchable]="false"
                       [clearable]="false"
                       bindLabel="value"
                       id="bfaf"
                       [(ngModel)]="selectedlog">
            </ng-select>
            <small>Base Adjusting Factor</small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="c" class="col-sm-4 col-form-label">C</label>
          <div class="col-sm-4">
            <input type="text" class="form-control font-10 transparent-field" id="c" placeholder="2">
            <small class="d-sm-none">Adjusting Factor | Rate of Increase/Decrease | Value of Asset/Position</small>
          </div>
          <div class="col-sm-4 text-right">
            <button class="btn btn-purple btn-sm" (click)="submit(1)">Run Function 1</button>
          </div>
        </div>
        <div class="row d-none d-sm-flex">
          <div class="col-sm-8 offset-sm-4">
            <small>Adjusting Factor | Rate of Increase/Decrease | Value of Asset/Position</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="card h-100">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row d-none d-sm-flex">
          <div class="col-sm-4">
            <span class="header-title">
              Output Function 1
            </span>
          </div>
          <div class="col-sm-4 text-center font-10" *ngIf="adminService.didRunFunction2">
            <span style="text-transform: none; font-weight: normal;" class="text-orange">
              (Updated After Running Function 2)
            </span>
          </div>
          <div class="col-sm-4 text-center font-10" *ngIf="adminService.didRunFunction4">
            <span style="text-transform: none; font-weight: normal;" class="text-orange">
              (Updated After Running Function 4)
            </span>
          </div>
          <div class="col-sm-4" [class.offset-sm-4]="!adminService.didRunFunction4 && !adminService.didRunFunction2">
            <div class="data-tip">
              <span>Download Output</span>
            </div>
          </div>
        </div>
        <div class="row d-sm-none">
          <div class="col-6">
            <span class="header-title">
              Output Function 1
            </span>
          </div>
          <div class="col-6">
            <div class="data-tip">
              <span>Download Output</span>
            </div>
          </div>
          <div *ngIf="adminService.didRunFunction2" class="col-12 text-center font-12 mt-2">
            <span style="text-transform: none; font-weight: normal;" class="text-orange">
              (Updated After Running Function 2)
            </span>
          </div>
          <div *ngIf="adminService.didRunFunction4" class="col-12 text-center font-12 mt-2">
            <span style="text-transform: none; font-weight: normal;" class="text-orange">
              (Updated After Running Function 4)
            </span>
          </div>
        </div>
      </div>
      <div class="card-body data-box" style="height: 700px; overflow: hidden">
        <table class="table table-borderless table-no-padding header-fixed">
          <thead class="text-white font-weight-bolder">
          <tr>
            <th>Step</th>
            <th>Value</th>
            <th>Growth</th>
            <th>Value*(1+"Output Function 2"/100)</th>
            <th>Final Growth Output</th>
          </tr>
          </thead>
          <tbody class="text-white mt-2">
          <tr *ngFor="let item of tableRows">
            <td>1234567890</td>
            <td>{{item.value}}</td>
            <td>{{item.growth}}%</td>
            <td>{{item.units}}</td>
            <td>{{item.growthUnits}}%</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <app-change-time-rate></app-change-time-rate>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <app-asset-value-time></app-asset-value-time>
  </div>
</div>
