:host ::ng-deep ul.nav-tabs {
  justify-content: center!important;
  border: 0;
}

:host ::ng-deep .nav-tabs {
  .nav-link {
    opacity: 0.7;
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    background-color: transparent;

    &:hover {
      border-bottom: 1px solid transparent;
    }

    &.active {
      opacity: 1;
      color: #fff;
      background-color: #40278c;
      border-color: #e8cbc0;
      border-bottom: 0;
    }
  }
}

@media (max-width: 480px) {
  :host ::ng-deep .nav-tabs {
    .nav-link {
      font-size: 7px;
      text-align: left;
    }
  }
}
