<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total User Accounts</span>
            <div class="data-tip">
              <span>135,000</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row text-right mb-0">
          <div class="col-2 offset-5">
            <span>24h</span>
          </div>
          <div class="col-2">
            <span>7d</span>
          </div>
          <div class="col-3">
            <span>28d</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p class="mb-0 font-weight-bolder text-light">New User Registrations</p>
          </div>
          <div class="col-2 text-right">
            10,000
          </div>
          <div class="col-2 text-right pl-0">
            100,000
          </div>
          <div class="col-3 text-right">
            1,000,000
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5">
            <small>Email Confirmed</small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p class="mb-0 font-weight-bolder text-light">New User Accounts</p>
          </div>
          <div class="col-2 text-right">
            10,000
          </div>
          <div class="col-2 text-right pl-0">
            100,000
          </div>
          <div class="col-3 text-right">
            1,000,000
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5">
            <small>Email Confirmed</small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p class="mb-0 font-weight-bolder text-light">Total User Sessions</p>
          </div>
          <div class="col-2 text-right">
            10,000
          </div>
          <div class="col-2 text-right pl-0">
            100,000
          </div>
          <div class="col-3 text-right">
            1,000,000
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5">
            <small></small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p class="mb-0 font-weight-bolder text-light">Median Session Duration</p>
          </div>
          <div class="col-2 text-right pl-0">
            10m36s
          </div>
          <div class="col-2 text-right pl-0">
            10m36s
          </div>
          <div class="col-3 text-right">
            10m36s
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5">
            <small></small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 pr-0">
            <p class="mb-0 font-weight-bolder text-light">User Accounts Susptended</p>
          </div>
          <div class="col-2 text-right pl-0">
            10,000
          </div>
          <div class="col-2 text-right pl-0">
            100,000
          </div>
          <div class="col-3 text-right">
            1,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <small></small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total User Account Balance</span>
            <div class="data-tip">
              <span>$100,000,000,000</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10 text-light">
        <div class="row mb-2 font-weight-bolder">
          <div class="col">
            <span>XLM/USD $0.11223</span>
          </div>
          <div class="col text-center">
            <span>GRX/XLM 0.39222</span>
          </div>
          <div class="col text-right">
            <span>GRX/USD $0.02334</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total XLM User Balances</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            1,000,000,000,000 XLM
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total GRX User Balances</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            200,000,000,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total XLM User Loans</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            100,000 GRX
          </div>
          <div class="col text-right">
            $11,000.00
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5 pr-0">
            <span class="font-weight-bolder">Median XLM User Balance</span> 28d
          </div>
          <div class="col-4 text-right">
            1,000,000,000 XLM
          </div>
          <div class="col-3 pl-0 text-right">
            $1,000,000.00
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5 pr-0">
            <span class="font-weight-bolder">Median GRX User Balance</span> 28d
          </div>
          <div class="col-4 text-right">
            1,000,000,000 GRX
          </div>
          <div class="col-3 pl-0 text-right">
            $1,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total Algo Positions Value</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total Algo Position Value</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000 XLM
          </div>
          <div class="col text-right">
            1,000,000,000,000 GRX
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-light font-weight-bolder">
            <span>GRZ | Arkady</span>
          </div>
          <div class="col text-right">
            <span>24h
              <span class="text-orange">-<span class="text-orange">10.00%</span></span>
              | 7d
              <span class="text-orange">-<span class="text-orange">50.00%</span></span>
              | 28d
              <span class="text-orange">-<span class="text-orange">100.00%</span></span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-admin-user-management-table></app-admin-user-management-table>
  </div>
</div>
