<div class="row font-8">
  <div class="col-12">
    <ngb-tabset type="pills" class="custom-pills">
      <ngb-tab title="GRY Function 1">
        <ng-template ngbTabContent>
          <app-function-one></app-function-one>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="GRY Function 2">
        <ng-template ngbTabContent>
          <app-function-two></app-function-two>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="GRY Function 3">
        <ng-template ngbTabContent>
          <app-function-three></app-function-three>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="GRY Function 4">
        <ng-template ngbTabContent>
          <app-function-four></app-function-four>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="GRY Algorithm">
        <ng-template ngbTabContent>
          <app-function-algorithm></app-function-algorithm>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="GRZ Algorithm">
        <ng-template ngbTabContent>
          <app-function-grz></app-function-grz>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
