<div class="row mt-3">
  <div class="col-sm-12 col-md-6 input-form" style="height: 400px; overflow: hidden">
    <div class="card font-12 h-100">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Input Function 3</span>
          </div>
        </div>
      </div>
      <div class="card-body data-box">
        <div class="form-group row">
          <label for="las" class="col-sm-4 col-form-label">L<sub>as</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="las" placeholder="80.00">
            <small>Available Supply</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="maxas" class="col-sm-4 col-form-label">Max<sub>as</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="maxas" placeholder="100.00">
            <small>Maximum Available (Circulating) Supply</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="minas" class="col-sm-4 col-form-label">Min<sub>as</sub> (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="minas" placeholder="2.00">
            <small>Minimum Available (Circulating) Supply</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rmints" class="col-sm-4 col-form-label">R<sub>min_ts</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rmints" placeholder="0.00">
            <small>Minimum Rate of Increase of Total Supply</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="rmaxts" class="col-sm-4 col-form-label">R<sub>max_ts</sub></label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="rmaxts" placeholder="5.00">
            <small>Maximum Rate of Increase of Total Supply</small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="c" class="col-sm-4 col-form-label">C</label>
          <div class="col-sm-4">
            <input type="text" class="form-control font-10 transparent-field" id="c" placeholder="3">
            <small class="d-sm-none">Adjusting Factor Rate of Increase of Total Supply</small>
          </div>
          <div class="col-sm-3 text-center">
            <button class="btn btn-purple btn-sm" (click)="submit()">Run Function 3</button>
          </div>
          <div class="col-sm-1 text-center align-self-center">
            <fa-icon *ngIf="error" [icon]="faTimes" [size]="'2x'" class="text-danger"></fa-icon>
            <fa-icon *ngIf="success" [icon]="faCheck" [size]="'2x'" class="text-success"></fa-icon>
          </div>
        </div>
        <div class="row d-none d-sm-flex">
          <div class="col-sm-8 offset-sm-4">
            <small>Adjusting Factor Rate of Increase of Total Supply</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card h-100">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Output Function 3</span>
            <div class="data-tip">
              <span>Download Output</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-12">
        <div class="form-group row">
          <label for="las" class="col-sm-4 col-form-label">Result (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="result" placeholder="80.00">
            <small>Increase Total Supply (%)</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="uas" class="col-sm-4 col-form-label">Updated Available Supply (%)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="uas" placeholder="100.00">
            <small>Updated Available Supply (%) of Updated Total Supply</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="has" class="col-sm-4 col-form-label">Historical Available Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="has" placeholder="2,500,000,000">
            <small>Available Supply | Last Historical High</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="pas" class="col-sm-4 col-form-label">Previous Available Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="pas" placeholder="2,500,000,000">
            <small>Value = L<sub>as</sub> (%) Before Execution of Function 3</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="ias" class="col-sm-4 col-form-label">Increased Available Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="ias" placeholder="2,500,000,000">
            <small>Increase in Available & Total Supply</small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label for="cas" class="col-sm-4 col-form-label">Current Available Supply</label>
          <div class="col-sm-8">
            <input type="text" class="form-control font-10 transparent-field" id="cas" placeholder="2,500,000,000">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 offset-sm-4">
            <small>Total Available Supply After Execution of Function 3</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <app-increase-total-decrease-reserve-supply></app-increase-total-decrease-reserve-supply>
  </div>
</div>
