<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total User Accounts</span>
            <div class="data-tip">
              <span>135,000</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row text-right mb-0">
          <div class="col-2 offset-5">
            <span>24h</span>
          </div>
          <div class="col-2">
            <span>7d</span>
          </div>
          <div class="col-3">
            <span>28d</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p class="mb-0 font-weight-bolder text-light">New User Registrations</p>
          </div>
          <div class="col-2 text-right">
            10,000
          </div>
          <div class="col-2 text-right pl-0">
            100,000
          </div>
          <div class="col-3 text-right">
            1,000,000
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5">
            <small>Email Confirmed</small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p class="mb-0 font-weight-bolder text-light">New User Accounts</p>
          </div>
          <div class="col-2 text-right">
            10,000
          </div>
          <div class="col-2 text-right pl-0">
            100,000
          </div>
          <div class="col-3 text-right">
            1,000,000
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5">
            <small>XLM Loan Confirmed</small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p class="mb-0 font-weight-bolder text-light">Total User Sessions</p>
          </div>
          <div class="col-2 text-right">
            10,000
          </div>
          <div class="col-2 text-right pl-0">
            100,000
          </div>
          <div class="col-3 text-right">
            1,000,000
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5">
            <small></small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p class="mb-0 font-weight-bolder text-light">Median Session Duration</p>
          </div>
          <div class="col-2 text-right pl-0">
            10m36s
          </div>
          <div class="col-2 text-right pl-0">
            10m36s
          </div>
          <div class="col-3 text-right">
            10m36s
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5">
            <small></small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 pr-0">
            <p class="mb-0 font-weight-bolder text-light">User Accounts Suspended</p>
          </div>
          <div class="col-2 text-right pl-0">
            10,000
          </div>
          <div class="col-2 text-right pl-0">
            100,000
          </div>
          <div class="col-3 text-right">
            1,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <small></small>
          </div>
          <div class="col-2 text-right text-light">
            <span class="text-pink">2.00%</span>
          </div>
          <div class="col-2 text-right text-light pl-0">
            <span class="text-pink">20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">200.00%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total User Account Balance</span>
            <div class="data-tip">
              <span>$100,000,000,000</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10 text-light">
        <div class="row mb-2 font-weight-bolder">
          <div class="col">
            <span>XLM/USD $0.11223</span>
          </div>
          <div class="col text-center">
            <span>XLM/GRX 0.39222</span>
          </div>
          <div class="col text-right">
            <span>GRX/USD $0.02334</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total XLM User Balances</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            1,000,000,000,000 XLM
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total GRX User Balances</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            200,000,000,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total XLM User Loans</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            100,000 GRX
          </div>
          <div class="col text-right">
            $11,000.00
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5 pr-0">
            <span class="font-weight-bolder">Median XLM User Balance</span> 28d
          </div>
          <div class="col-4 text-right">
            1,000,000,000 XLM
          </div>
          <div class="col-3 pl-0 text-right">
            $1,000,000.00
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5 pr-0">
            <span class="font-weight-bolder">Median GRX User Balance</span> 28d
          </div>
          <div class="col-4 text-right">
            1,000,000,000 GRX
          </div>
          <div class="col-3 pl-0 text-right">
            $1,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total Algo Positions Value</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total Algo Positions Value</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000 XLM
          </div>
          <div class="col text-right">
            1,000,000,000,000 GRX
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-light font-weight-bolder">
            <span>GRZ | Arkady</span>
          </div>
          <div class="col text-right">
            <span>24h
              <span class="text-orange">-<span class="text-orange">10.00%</span></span>
              | 7d
              <span class="text-orange">-<span class="text-orange">50.00%</span></span>
              | 28d
              <span class="text-orange">-<span class="text-orange">100.00%</span></span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">28 Day Active users</span>
            <div class="data-tip">
              <span>135,000</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row text-right mb-0">
          <div class="col-3 offset-3">
            <span>24h</span>
          </div>
          <div class="col-3">
            <span>7d</span>
          </div>
          <div class="col-3">
            <span>28d</span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p class="mb-0 font-weight-bolder text-light">Active Users</p>
          </div>
          <div class="col-3 text-right">
            10,000
          </div>
          <div class="col-3 text-right">
            100,000
          </div>
          <div class="col-3 text-right">
            1,000,000
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-3">
            <small></small>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-orange">-2.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-orange">-20.00%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-orange">-200.00%</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-3">
            <p class="mb-0 font-weight-bolder text-light">Peak Hour UTC</p>
          </div>
          <div class="col-3 text-right text-light">
            18:00
          </div>
          <div class="col-3 text-right text-light">
            23:00
          </div>
          <div class="col-3 text-right text-light">
            09:00
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-3">
            <p class="mb-0 font-weight-bolder text-light">Country</p>
          </div>
          <div class="col-3 text-right text-light">
            United Arab Emirates
          </div>
          <div class="col-3 text-right text-light">
            United Kingdom
          </div>
          <div class="col-3 text-right text-light">
            United Arab Emirates
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="mb-0 font-weight-bolder text-light">Device</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p class="mb-0 text-light">Mobile</p>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">48.0%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">48.0%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">48.0%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p class="mb-0 text-light">Tablet</p>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">51.0%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">51.0%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">51.0%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p class="mb-0 text-light">Desktop</p>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">1.0%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">1.0%</span>
          </div>
          <div class="col-3 text-right text-light">
            <span class="text-pink">1.0%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total XLM + GRX Reserved</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total XLM Reserved</span>
          </div>
          <div class="col text-right font-weight-bolder">
            <span>Total GRX Reserved</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000,000 XLM
          </div>
          <div class="col text-right">
            1,000,000,000,000 GRX
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>XLM Reserved in Open Orders</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000,000 XLM
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRX Reserved in Open Orders</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total Available XLM</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000,000 XLM
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total Available GRX</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">28 Day User Algo Profits</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total GRY | <i>3xMagi</i></span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRZ | Arkady</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card border-0 text-light" style="background-color: #636fa4 !important;">
      <div class="card-body bg-gradient font-10">
        <div class="row align-items-center">
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <p class="font-weight-bolder" style="margin-bottom: 0.75rem">
                  Total User Support Tickets
                  <span class="float-right">10,000</span>
                </p>
              </div>
            </div>
            <p class="font-weight-bolder mb-0">28d User Support Tickets Opened</p>
            <p class="mb-0">10,000</p>
            <p style="margin-bottom: 0.75rem">24h <span class="text-pink">100.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00</span></p>
            <p class="font-weight-bolder mb-0">28d User Support Tickets Closed</p>
            <p class="mb-0">10,000</p>
            <p>24h <span class="text-pink">100.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00</span></p>
          </div>
          <div class="col-4">
            <div>
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-8">
            <p class="font-weight-bolder mb-0">28d Median Ticket Resolution Time</p>
            <p class="mb-0">DD:MM:SS</p>
            <p class="mb-0">24h <span class="text-pink">100.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00</span></p>
          </div>
          <div class="col-4">
            <div>
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total Algo Positions</span>
            <div class="data-tip">
              <span>100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total Algo Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRZ | Arkady Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Median User Algo Profits</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Median User Algo Profits</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 10,000.00 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar Profits</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 10,000.00 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar Profits</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 10,000.00 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior Profits</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 10,000.00 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRZ | Arkady Profits</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            28d Median User Profits: 10,000.00 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="row">
      <div class="col">
        <div class="card border-0 text-light" style="background-color: #636fa4 !important;">
          <div class="card-body bg-gradient font-10">
            <div class="row align-items-center">
              <div class="col-8">
                <p class="font-weight-bolder mb-0">Total XLM User Transactions</p>
                <p style="margin-bottom: 2px;">1,000,000,000</p>
                <p class="font-weight-bolder mb-0">28d Median XLM User Transactions</p>
                <p style="margin-bottom: 2px;">1,000,000,000</p>
              </div>
              <div class="col-4">
                <div class="line-chart">
                  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                          [chartType]="lineChartType">
                  </canvas>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="mb-0">24h <span class="text-pink">100.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card border-0 text-light no-margin-bottom-xl" style="background-color: #636fa4 !important; border-radius: 4px!important;">
          <div class="card-body bg-gradient font-10">
            <div class="row">
              <div class="col-7">
                <p class="font-weight-bolder mb-0">Total GRX User Transactions</p>
                <p style="margin-bottom: 2px;">1,000,000,000</p>
                <p class="font-weight-bolder mb-0">28d Median GRX User Transactions</p>
                <p style="margin-bottom: 2px;">1,000,000,000</p>
              </div>
              <div class="col-5 mt-2">
                <div class="line-chart">
                  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                          [chartType]="lineChartType">
                  </canvas>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="mb-0">24h <span class="text-pink">100.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card no-margin-bottom-lg">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Median User Algo Positions</span>
            <div class="data-tip">
              <span>100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10" style="border-bottom: 1px solid #40424f;">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Median User Algo Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRZ | Arkady Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card no-margin-bottom-lg">
      <div class="card-header card-header-grpur border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total Algo Commissions</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10" style="border-bottom: 1px solid #40424f;">
        <div class="row">
          <div class="col-6 col-md-5 text-light font-weight-bolder pr-0">
            <span>Total Algo Commissions Value</span>
          </div>
          <div class="col-6 col-md-7 text-right pl-0">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000 XLM
          </div>
          <div class="col text-right">
            1,000,000,000,000 GRX
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-5 pr-0 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar Commissions</span>
          </div>
          <div class="col-6 col-md-7 pl-0 text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-5 pr-0 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar Commissions</span>
          </div>
          <div class="col-6 col-md-7 pl-0 text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-7 pr-0 text-light font-weight-bolder">
            <span>GRY 3 | Melkior Commissions</span>
          </div>
          <div class="col-6 col-md-5 pl-0 text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-5 pr-0 text-light font-weight-bolder">
            <span>GRZ | Arkady Commissions</span>
          </div>
          <div class="col-6 col-md-7 pl-0 text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            1,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
