<router-outlet name="popup"></router-outlet>
<div class="bg-gradient text-light" id="systemActivityTable">
  <div class="row align-items-center justify-content-center p-2">
    <div class="col-12 col-sm-3 align-self-center" style="max-width: 240px;">
      <h6 class="mb-0 text-center py-2">User Accounts Financials</h6>
    </div>
    <div class="col-12 col-sm-7 justify-content-center align-items-center" *ngIf="selectedTab">
      <ngb-tabset type="pills" class="custom-pills" (tabChange)="onTabChange($event.nextId)" [activeId]="selectedTab.id">
        <ng-container *ngFor="let tab of userAccountTabs">
          <ngb-tab [id]="tab.id">
            <ng-template ngbTabTitle>
              {{tab.name}} <br>
              <small class="text-light">{{tab.small}}</small>
            </ng-template>
          </ngb-tab>
        </ng-container>
      </ngb-tabset>
    </div>
    <div class="col-12 col-sm-2 text-center">
      <hr class="mt-0 d-sm-none">
      <a class="purple-link font-10" href="javascript:void(0)">
        <fa-icon [icon]="faDownload" [fixedWidth]="true"></fa-icon>
        Download {{selectedTab.name}}
      </a>
    </div>
  </div>

  <hr class="mt-0 mb-0">
</div>

<div class="bg-gradient text-light">
  <div class="row justify-content-center align-items-center mb-1 p-2">
    <div class="col-12 col-sm-3 text-center py-2">
      <span class="align-middle font-weight-bolder font-14">User Accounts (9,000,000)</span>
    </div>
    <div class="col-6 col-sm-3 text-center font-12" style="outline: none;"
         [routerLink]="['/admin/overview', {outlets: {popup: ['confirm-status', 'Sign Up']}}]">
      <fa-icon [icon]="faClose" class="text-danger cancel"></fa-icon>
      <span class="ml-1 cancel text-danger">Pause New User Sign Up</span>
    </div>
    <div class="col-6 col-sm-3 text-center font-12" style="outline: none;"
         [routerLink]="['/admin/overview', {outlets: {popup: ['confirm-status', 'App Sign In']}}]">
      <fa-icon [icon]="faClose" class="text-danger cancel"></fa-icon>
      <span class="ml-1 cancel text-danger">Pause User App Sign In</span>
    </div>
    <div class="col-6 col-sm-3 text-center mt-2 mt-sm-0">
      <div class="row">
        <div class="col search">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important">
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <fa-icon style="color: #40278C" [icon]="faSearch"></fa-icon>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-none d-md-block"></div>
  </div>
</div>

<div class="table-responsive bg-gradient text-light pull-top">
  <table class="table mb-0">
    <thead>
    <tr class="font-weight-bolder font-10 text-light">
      <th (click)="sortBySignUpDate()" class="cancel">
        Sign Up Date
        <fa-icon [icon]="faSortBySignUpDate" style="color: #40278C;"></fa-icon>
      </th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Account</th>
      <th>GRAYLL ID</th>
      <ng-container *ngIf="selectedTab.id === 'uab'">
        <th (click)="sortByAccountValue()" class="cancel">
          Account Value (USD)
          <fa-icon [icon]="faSortByAccountValue" style="color: #40278C;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByBalanceXLM()" class="cancel">
          Account Balance (XLM)
          <fa-icon [icon]="faSortByBalanceXLM" style="color: #40278C;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByBalanceGRX()" class="cancel">
          Account Balance (GRX)
          <fa-icon [icon]="faSortByBalanceGRX" style="color: #40278C;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByOpenOrdersXLM()" class="cancel">
          Open Orders XLM (USD)
          <fa-icon [icon]="faSortByOpenOrdersXLM" style="color: #40278C;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
        <th (click)="sortByOpenOrdersGRX()" class="cancel">
          Open Orders GRX (USD)
          <fa-icon [icon]="faSortByOpenOrdersGRX" style="color: #40278C;"></fa-icon>
          <br>
          <small>Current Account Total</small>
        </th>
      </ng-container>
      <ng-container *ngIf="selectedTab.id === 'uat'">
        <th>
          Federation Address
          <br>
          <small>*grayll.io</small>
        </th>
        <th>Phone number</th>
        <th (click)="sortByTotalTransfersUSD()" class="cancel">
          Total Transfers (USD)
          <fa-icon [icon]="faSortByTotalTransfersUSD" style="color: #40278C;"></fa-icon>
          <br>
          <small>Historical Account Total</small>
        </th>
        <th (click)="sortByTotalTransfersXLM()" class="cancel">
          Total Transfers (XLM)
          <fa-icon [icon]="faSortByTotalTransfersXLM" style="color: #40278C;"></fa-icon>
          <br>
          <small>Historical Account Total</small>
        </th>
        <th (click)="sortByTotalTransfersGRX()" class="cancel">
          Total Transfers (GRX)
          <fa-icon [icon]="faSortByTotalTransfersGRX" style="color: #40278C;"></fa-icon>
          <br>
          <small>Historical Account Total</small>
        </th>
      </ng-container>
    </tr>
    </thead>

    <tbody class="font-8 text-light">
    <tr *ngFor="let i of [].constructor(20)">
      <td>18/08/2019 04:14</td>
      <td>{{'GeronimhoxxxyyyzzzTHISWONTBEDISPLAYED' | slice:0:18}}</td>
      <td>{{'de Chastaine Montaigne' | slice:0:32}}</td>
      <td>{{'swissalpbunny888@protonmail.ch' | slice:0:32}}</td>
      <td>
        <a href="https://stellar.expert/explorer" class="purple-link" target="_blank">
          GAQQ44...H3399
        </a>
      </td>
      <td>
        <a href="javascript:void(0)" class="purple-link">
          111222333444555666
        </a>
      </td>
      <ng-container *ngIf="selectedTab.id === 'uab'">
        <td>1,000,000,000,000.00</td>
        <td>1,000,000,000,000.00</td>
        <td>1,000,000,000,000.00</td>
        <td>1,000,000,000,000.00</td>
        <td>1,000,000,000,000.00</td>
      </ng-container>
      <ng-container *ngIf="selectedTab.id === 'uat'">
        <td>swissalpbunny888</td>
        <td>
          <a href="javascript:void(0)" class="purple-link">
            +999 15678888111
          </a>
        </td>
        <td>1,000,000,000,000.00</td>
        <td>1,000,000,000,000.00</td>
        <td>1,000,000,000,000.00</td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
