<div class="row mt-3">
  <div class="col-12 input-form">
    <div class="card font-12">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Input Function 1</span>
          </div>
        </div>
      </div>
      <div class="card-body data-box">
        <div class="form-group row">
          <div class="col align-self-center">
            Input Currency Pairs
          </div>
          <div class="col align-self-center">
            Base Exchange Rate
          </div>
          <div class="col align-self-center">
            Real Time <br> Exchange Rate
          </div>
          <div class="col align-self-center text-center">
            Real Time <br> Price Ratio
          </div>
          <div class="col align-self-center">
            Base Trade Volume %
          </div>
          <div class="col align-self-center">
            Adjusted <br> Trade Volume %
          </div>
          <div class="col align-self-center">
            Real Time Adjusted <br> Price Performance
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            EUR/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="eurusd" value="0.823970">
          </div>
          <div class="col align-self-center">
            0.823970
          </div>
          <div class="col align-self-center text-center">
            1.000000
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="eurusdbtv" value="15.700000">
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            JPY/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="jpyusd" value="0.005315">
          </div>
          <div class="col align-self-center">
            0.005315
          </div>
          <div class="col align-self-center text-center">
            1.000000
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="jpyusdbtv" value="10.800000">
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            GBP/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="gbpusd" value="0.190480">
          </div>
          <div class="col align-self-center">
            0.190480
          </div>
          <div class="col align-self-center text-center">
            1.000000
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="gbpusdbtv" value="6.400000">
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            CNY/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="cnyusd" value="0.130000">
          </div>
          <div class="col align-self-center">
            0.130000
          </div>
          <div class="col align-self-center text-center">
            1.000000
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="cnyusdbtv" value="2.000000">
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            CHF/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="chfusd" value="0.546500">
          </div>
          <div class="col align-self-center">
            0.546500
          </div>
          <div class="col align-self-center text-center">
            1.000000
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="chfusdbtv" value="2.400000">
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            CAD/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="cadusd" value="0.617000">
          </div>
          <div class="col align-self-center">
            0.617000
          </div>
          <div class="col align-self-center text-center">
            1.000000
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="cadusdbtv" value="2.550000">
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
          <div class="col align-self-center">
            0.000000
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            AUD/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="audusd" value="0.477600">
          </div>
          <div class="col align-self-center">
            0.477600
          </div>
          <div class="col align-self-center text-center" style="border-bottom: 2px solid #e8cbc0!important; padding-bottom: 10px">
            1.000000
          </div>
          <div class="col align-self-center" style="border-bottom: 2px solid #e8cbc0!important; margin-bottom: 13px; padding-bottom: 10px">
            <input type="text" class="form-control font-10 transparent-field" id="audusdbtv" value="3.450000">
          </div>
          <div class="col align-self-center" style="border-bottom: 2px solid #e8cbc0!important; padding-bottom: 10px">
            0.000000
          </div>
          <div class="col align-self-center" style="border-bottom: 2px solid #e8cbc0!important; padding-bottom: 10px">
            0.000000
          </div>
        </div>
        <div class="row form-group">
          <div class="col"></div>
          <div class="col text-center ml-2">
            <button (click)="submit()" class="btn btn-purple">Submit & Save</button>
          </div>
          <div class="col"></div>
          <div class="col text-center" style="margin-left: 20px">
            <span class="font-weight-bold">7.000000</span>
          </div>
          <div class="col text-center">
            <span class="font-weight-bold">43.300000</span>
            <br>
            <br>
            <button (click)="submit()" class="btn btn-purple">Submit & Save</button>
          </div>
          <div class="col">
            <span class="font-weight-bold">0.000000</span>
            <br>
            <br>
            Trade Volume <br> Adjustment Factor <br> <br>
            <p class="font-weight-bold">0.2309468822</p>
          </div>
          <div class="col">
            <span class="font-weight-bold">0.000000</span>
            <br>
            <br>
            Performance Adjustment Factor <br> <br>
            <input type="text" class="form-control font-10 transparent-field" value="1.000000">
            <br>
            <br>
            <button (click)="submit()" class="btn btn-purple">Submit & Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 input-form">
    <div class="card font-12">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Input Function 2</span>
          </div>
        </div>
      </div>
      <div class="card-body data-box">
        <div class="form-group row">
          <div class="col align-self-center">
            Current Real Rate of Inflation per Year
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            CPI %
          </div>
          <div class="col align-self-center">
            REAL CPI
          </div>
          <div class="col align-self-center">
            Unfunded Liabilities <br> <small>Adjustment/Minute</small>
          </div>
          <div class="col align-self-center font-weight-bold">
            BTC/USD <br> 24 Hour Real-Time % Change
          </div>
          <div class="col align-self-center">
            BTC/USD <br> 24 Hour Real-Time <br> % Change Adjusted
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="cpi" value="5.400000">
          </div>
          <div class="col align-self-center font-weight-bold">
            (= CPI % + CPI Adjustment Factor)
          </div>
          <div class="col align-self-center text-center">
            <input type="text" class="form-control font-10 transparent-field" id="unfundedliabilities" value="0.000000005">
          </div>
          <div class="col align-self-center">
            4.888999
          </div>
          <div class="col align-self-center">
            (= BTC/USD 24 Hour Real Time % Change)
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
          <button (click)="submit()" class="btn btn-purple">Submit & Save</button>
          </div>
          <div class="col align-self-center">
            CPI %Minute <br> <span class="font-weight-bold">(= CPI%/525,600)</span>
          </div>
            <div class="col align-self-center">
            <button (click)="submit()" class="btn btn-purple">Submit & Save</button>
          </div>
          <div class="col align-self-center">
            Adjustment Factor <br> <input type="text" class="form-control font-10 transparent-field" id="adjustmentfactor" value="0.100000">
          </div>
          <div class="col align-self-center">
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            CPI Adjustment Factor <br>
            <input type="text" class="form-control font-10 transparent-field" id="cpiadjustmentfactor" value="2.600000"> <br>
            <button (click)="submit()" class="btn btn-purple">Submit & Save</button>
          </div>
          <div class="col align-self-center">
            Real CPI %Minute <br>
            <span class="font-weight-bold">(= Real CPI%525,600)</span>
          </div>
          <div class="col align-self-center font-weight-bold">
            Calculated Output GRZ <br> <small>Real-Time Value Update</small> <br> SD.014392246
          </div>
          <div class="col align-self-center">
            <button (click)="submit()" class="btn btn-purple">Submit & Save</button>
          </div>
          <div class="col align-self-center">
            Final Output GRZ <br>
            <span class="font-weight-bold">(= Calculated Output GRZ <br> BTC/USD 24 Hour Real-Time % Change Adjusted)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
