<div class="row mt-3">
  <div class="col-sm-12 col-md-6 input-form">
    <div class="card font-12">
      <div class="card-header card-header-pink border-bottom-0">
        <div class="row">
          <div class="col">
            <span class="header-title">Input Function 1</span>
          </div>
        </div>
      </div>
      <div class="card-body data-box">
        <div class="form-group row">
          <div class="col align-self-center">
            Input Currency Pairs
          </div>
          <div class="col align-self-center">
            Base Exchange Rate
          </div>
          <div class="col align-self-center">
            Real Time Exchange Rate
          </div>
          <div class="col align-self-center">
            Real Time Price Ratio
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            EUR/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="eurusd" value="0.823970">
          </div>
          <div class="col align-self-center">
            0.823970
          </div>
          <div class="col align-self-center">
            1
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            JPY/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="jpyusd" value="0.005315">
          </div>
          <div class="col align-self-center">
            0.005315
          </div>
          <div class="col align-self-center">
            1
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            GBP/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="gbpusd" value="0.190480">
          </div>
          <div class="col align-self-center">
            0.190480
          </div>
          <div class="col align-self-center">
            1
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            CNY/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="cnyusd" value="0.130000">
          </div>
          <div class="col align-self-center">
            0.130000
          </div>
          <div class="col align-self-center">
            1
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            CHF/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="chfusd" value="0.546500">
          </div>
          <div class="col align-self-center">
            0.546500
          </div>
          <div class="col align-self-center">
            1
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            CAD/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="cadusd" value="0.617000">
          </div>
          <div class="col align-self-center">
            0.617000
          </div>
          <div class="col align-self-center">
            1
          </div>
        </div>
        <div class="form-group row">
          <div class="col align-self-center">
            AUD/USD
          </div>
          <div class="col align-self-center">
            <input type="text" class="form-control font-10 transparent-field" id="audusd" value="0.477600">
          </div>
          <div class="col align-self-center">
            0.477600
          </div>
          <div class="col align-self-center">
            1
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
