<div class="justify-content-center align-items-center">
  <ngb-tabset>

    <ngb-tab>
      <ng-template ngbTabTitle>
        User Accounts & Registrations
      </ng-template>
      <ng-template ngbTabContent>
        <app-user-accounts-and-registration></app-user-accounts-and-registration>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="User Account Financials">
      <ng-template ngbTabContent>
        <app-user-account-financials></app-user-account-financials>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="User Algo System Financials">
      <ng-template ngbTabContent>
        <app-user-ago-system-financials></app-user-ago-system-financials>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="User Settings">
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="User Management & Security">
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
