<div class="justify-content-center align-items-center">
  <ngb-tabset>

    <ngb-tab title="User Data and Management">
      <ng-template ngbTabContent>
        <app-account-activity></app-account-activity>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="GRAYLL System Activity">
      <ng-template ngbTabContent>
        <app-activity></app-activity>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="GRAYLL Wallet Activity">
      <ng-template ngbTabContent>
        <app-account-activity></app-account-activity>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
