<div class="bg-gradient text-light" id="user-security-settings">
  <div class="row align-items-center justify-content-center p-2">
    <div class="col-12 col-sm-3 align-self-center" style="max-width: 240px;">
      <h6 class="mb-0 text-center py-2">{{selectedTab.name}}</h6>
    </div>
    <div class="col-12 col-sm-7 justify-content-center align-items-center" *ngIf="selectedTab">
      <ngb-tabset type="pills" class="custom-pills" (tabChange)="onTabChange($event.nextId)" [activeId]="selectedTab.id">
        <ng-container *ngFor="let tab of userAccountTabs">
          <ngb-tab [id]="tab.id" *ngIf="(tab.id !== 'uad') || (tab.id === 'uad' && selectedUser)">
            <ng-template ngbTabTitle>
              {{tab.name}}
            </ng-template>
          </ngb-tab>
        </ng-container>
      </ngb-tabset>
    </div>
    <div class="col-12 col-sm-2 text-center">
      <hr class="mt-0 d-sm-none">
      <a class="purple-link font-10" href="javascript:void(0)">
        <fa-icon [icon]="faDownload" [fixedWidth]="true"></fa-icon>
        Download {{selectedTab.name}}
      </a>
    </div>
  </div>

  <hr class="mt-0 mb-0">
</div>

<div class="bg-gradient text-light" *ngIf="selectedTab.id === 'uad' && selectedUser">
  <div class="row justify-content-center align-items-center mb-1 p-2">
    <div class="col-12 col-sm-9 text-center py-2">
      <span class="align-middle font-weight-bolder font-14">User Account {{selectedUser.grayllId}}</span>
    </div>
    <div class="col-6 col-sm-3 text-center mt-2 mt-sm-0">
      <div class="row">
        <div class="col search">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important">
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <fa-icon style="color: #40278C" [icon]="faSearch"></fa-icon>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-none d-md-block"></div>
  </div>
</div>

<div class="table-responsive bg-gradient text-light pull-top" *ngIf="selectedTab.id === 'uad' && selectedUser">
  <div class="row mx-0">
    <div class="col-12 col-xl-9">
      <p class="font-weight-bolder font-14 mb-0">User Account Details</p>
      <table class="table table-borderless mb-0">
        <thead>
        <tr class="font-weight-bolder font-10 text-light">
          <th class="width-91px" style="vertical-align: middle">Sign Up Date</th>
          <th class="width-91px" style="vertical-align: middle">First Name</th>
          <th class="width-101px" style="vertical-align: middle">Last Name</th>
          <th class="width-131px" style="vertical-align: middle">Email Address</th>
          <th class="width-91px" style="vertical-align: middle">Phone Number</th>
          <th class="width-91px" style="vertical-align: middle">Account</th>
          <th class="width-101px" style="vertical-align: middle">GRAYLL ID</th>
          <th class="width-131px" style="vertical-align: middle">
            Account Value (USD)
            <small>Current Account Total</small>
          </th>
        </tr>
        </thead>

        <tbody class="font-8 text-light" style="height: auto; overflow: hidden">
        <div class="right-arrow-mobile-scroll-indicator-div d-sm-none">
          <img class="right-arrow-mobile-scroll-indicator-img" src="assets/images/right-chevron.png" alt="Scroll right for more">
        </div>
        <tr>
          <td class="width-91px py-0">{{selectedUser.signUpDate}}</td>
          <td class="width-91px py-0">{{selectedUser.firstName | slice:0:18}}</td>
          <td class="width-101px py-0">{{selectedUser.lastName | slice:0:32}}</td>
          <td class="width-131px py-0" style="word-break: break-all">{{selectedUser.emailAddress | slice:0:32}}</td>
          <td class="width-91px py-0">{{selectedUser.phoneNumber}}</td>
          <td class="width-91px py-0">
            <a href="https://stellar.expert/explorer" class="purple-link" target="_blank">
              {{selectedUser.account}}
            </a>
          </td>
          <td class="width-101px py-0">
            <a href="javascript:void(0)" class="purple-link">
              {{selectedUser.grayllId}}
            </a>
          </td>
          <td class="width-131px py-0">{{selectedUser.accountValueUSD}}</td>
        </tr>
        </tbody>
      </table>
      <hr style="border-color: #fff;">
      <p class="font-weight-bolder font-14 mb-0">User Account Financials</p>
      <table class="table table-borderless mb-0">
        <thead>
        <tr class="font-weight-bolder font-10 text-light">
          <th class="width-123px" style="vertical-align: middle">
            Account Balance (XLM)
            <br>
            <small>Current Account Total</small>
          </th>
          <th class="width-123px" style="vertical-align: middle">
            Account Balance (GRX)
            <br>
            <small>Current Account Total</small>
          </th>
          <th class="width-91px" style="vertical-align: middle">
            Open Orders <br> XLM (USD)
            <br>
            <small>Current Account Total</small>
          </th>
          <th class="width-91px" style="vertical-align: middle">
            Open Orders <br> GRX (USD)
            <br>
            <small>Current Account Total</small>
          </th>
          <th class="width-111px" style="vertical-align: middle">
            Total Transfers (USD)
            <br>
            <small>Historical Account Total</small>
          </th>
          <th class="width-111px" style="vertical-align: middle">
            Total Transfers (XLM)
            <br>
            <small>Historical Account Total</small>
          </th>
          <th class="width-101px p-0" style="vertical-align: middle">
            Total Transfers (GRX)
            <br>
            <small>Historical Account Total</small>
          </th>
        </tr>
        </thead>

        <tbody class="font-8 text-light" style="height: auto; overflow: hidden">
        <div class="right-arrow-mobile-scroll-indicator-div d-sm-none">
          <img class="right-arrow-mobile-scroll-indicator-img" src="assets/images/right-chevron.png" alt="Scroll right for more">
        </div>
        <tr>
          <td class="width-123px py-0">1,000,000,000,000.00</td>
          <td class="width-123px py-0">1,000,000,000,000.00</td>
          <td class="width-91px py-0">1,000,000,000,000.00</td>
          <td class="width-91px py-0">1,000,000,000,000.00</td>
          <td class="width-111px py-0">1,000,000,000,000.00</td>
          <td class="width-111px py-0">1,000,000,000,000.00</td>
          <td class="width-101px p-0">1,000,000,000,000.00</td>
        </tr>
        </tbody>
      </table>
      <br>
    </div>
    <div class="col-12 col-xl-3">
      <div class="row">
        <div class="col-12">
          <p class="text-purple font-weight-bolder font-14">User Access Management</p>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <button class="btn btn-block btn-purple font-12" (click)="adminService.isUserSignInPaused = !adminService.isUserSignInPaused">
            {{!adminService.isUserSignInPaused ? 'Activate' : 'Pause'}} User App Sign In
          </button>
        </div>
        <div class="col-3 align-self-center">
          <p class="font-12 align-self-center font-italic mb-0"
             [class.text-purple]="adminService.isUserSignInPaused"
             [class.text-light]="!adminService.isUserSignInPaused">
            {{!adminService.isUserSignInPaused ? 'Paused' : 'Active'}}
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-9">
          <button class="btn btn-block btn-purple font-12" (click)="adminService.isGRY1UserAccessEnabled = !adminService.isGRY1UserAccessEnabled">
            {{adminService.isGRY1UserAccessEnabled ? 'Pause' : 'Activate'}} GRY | 1 User Access
          </button>
        </div>
        <div class="col-3 align-self-center">
          <p class="font-12 align-self-center font-italic mb-0"
             [class.text-purple]="adminService.isGRY1UserAccessEnabled"
             [class.text-light]="!adminService.isGRY1UserAccessEnabled">
            {{adminService.isGRY1UserAccessEnabled ? 'Active' : 'Paused'}}
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-9">
          <button class="btn btn-block btn-purple font-12" (click)="adminService.isGRY2UserAccessEnabled = !adminService.isGRY2UserAccessEnabled">
            {{adminService.isGRY2UserAccessEnabled ? 'Pause' : 'Activate'}} GRY | 2 User Access
          </button>
        </div>
        <div class="col-3 align-self-center">
          <p class="font-12 align-self-center font-italic mb-0"
             [class.text-purple]="adminService.isGRY2UserAccessEnabled"
             [class.text-light]="!adminService.isGRY2UserAccessEnabled">
            {{adminService.isGRY2UserAccessEnabled ? 'Active' : 'Paused'}}
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-9">
          <button class="btn btn-block btn-purple font-12" (click)="adminService.isGRY3UserAccessEnabled = !adminService.isGRY3UserAccessEnabled">
            {{adminService.isGRY3UserAccessEnabled ? 'Pause' : 'Activate'}} GRY | 3 User Access
          </button>
        </div>
        <div class="col-3 align-self-center">
          <p class="font-12 align-self-center font-italic mb-0"
             [class.text-purple]="adminService.isGRY3UserAccessEnabled"
             [class.text-light]="!adminService.isGRY3UserAccessEnabled">
            {{adminService.isGRY3UserAccessEnabled ? 'Active' : 'Paused'}}
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-9">
          <button class="btn btn-block btn-purple font-12" (click)="adminService.isGRZUserAccessEnabled = !adminService.isGRZUserAccessEnabled">
            {{adminService.isGRZUserAccessEnabled ? 'Pause' : 'Activate'}} GRZ User Access
          </button>
        </div>
        <div class="col-3 align-self-center">
          <p class="font-12 align-self-center font-italic mb-0"
             [class.text-purple]="adminService.isGRZUserAccessEnabled"
             [class.text-light]="!adminService.isGRZUserAccessEnabled">
            {{adminService.isGRZUserAccessEnabled ? 'Active' : 'Paused'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gradient text-light" *ngIf="selectedTab.id === 'uas'">
  <div class="row justify-content-center align-items-center mb-1 p-2">
    <div class="col-12 col-sm-3 text-center py-2">
      <span class="align-middle font-weight-bolder font-14">User Accounts (9,000,000)</span>
    </div>
    <div class="col-6 col-sm-3 text-center">
      <button class="btn btn-purple" style="outline: none!important"
              [routerLink]="['/admin/overview', {outlets: {popup: ['confirm-status', 'App Sign In']}}]">
        {{adminService.isUserSignInPaused ? 'Activate' : 'Pause' }} User App Sign In
      </button>
    </div>
    <div class="col-6 col-sm-3 text-center">
      <button class="btn btn-purple" style="outline: none!important"
              [routerLink]="['/admin/overview', {outlets: {popup: ['confirm-status', 'Sign Up']}}]">
        {{adminService.isUserSignUpPaused ? 'Activate' : 'Pause' }} New User Sign Up
      </button>
    </div>
    <div class="col-6 col-sm-3 text-center mt-2 mt-sm-0">
      <div class="row">
        <div class="col search">
          <div class="input-group">
            <input class="form-control form-control-no-border bg-transparent py-2 border border-right-0 text-light"
                   type="search" style="border-color: #40278C!important">
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <fa-icon style="color: #40278C" [icon]="faSearch"></fa-icon>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-none d-md-block"></div>
  </div>
</div>

<div class="table-responsive bg-gradient text-light pull-top" *ngIf="selectedTab.id === 'uas'">
  <table class="table mb-0">
    <thead>
    <tr class="font-weight-bolder font-10 text-light">
      <th (click)="sortBySignUpDate()" class="cancel width-91px">
        Sign Up Date
        <fa-icon [icon]="faSortBySignUpDate" style="color: #40278C;"></fa-icon>
      </th>
      <th class="width-91px">First Name</th>
      <th class="width-101px">Last Name</th>
      <th class="width-131px">Email Address</th>
      <th class="width-91px">Phone Number</th>
      <th class="width-91px">Account</th>
      <th class="width-101px">GRAYLL ID</th>
      <th (click)="sortByGRY1()" class="cancel width-71px">
        GRY 1 <br> Access
        <fa-icon [icon]="faSortByGRY1Access" style="color: #40278C;"></fa-icon>
        <br>
        <small>Active/Paused</small>
      </th>
      <th (click)="sortByGRY2()" class="cancel width-71px">
        GRY 2 <br> Access
        <fa-icon [icon]="faSortByGRY2Access" style="color: #40278C;"></fa-icon>
        <br>
        <small>Active/Paused</small>
      </th>
      <th (click)="sortByGRY3()" class="cancel width-71px">
        GRY 3 <br> Access
        <fa-icon [icon]="faSortByGRY3Access" style="color: #40278C;"></fa-icon>
        <br>
        <small>Active/Paused</small>
      </th>
      <th (click)="sortByGRZ()" class="cancel width-71px">
        GRZ <br> Access
        <fa-icon [icon]="faSortByGRZAccess" style="color: #40278C;"></fa-icon>
        <br>
        <small>Active/Paused</small>
      </th>
      <th (click)="sortByAppSignIn()" class="cancel width-71px">
        App <br> Sign In
        <fa-icon [icon]="faSortByAppSignIn" style="color: #40278C;"></fa-icon>
        <br>
        <small>Active/Paused</small>
      </th>
      <th class="width-81px">User Account Detail</th>
    </tr>
    </thead>

    <tbody class="font-8 text-light" infiniteScroll [infiniteScrollDistance]=".1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
    <div class="right-arrow-mobile-scroll-indicator-div d-sm-none">
      <img class="right-arrow-mobile-scroll-indicator-img" src="assets/images/right-chevron.png" alt="Scroll right for more">
    </div>
    <tr *ngFor="let user of userAccounts">
      <td class="width-91px">{{user.signUpDate}}</td>
      <td class="width-91px">{{user.firstName | slice:0:18}}</td>
      <td class="width-101px">{{user.lastName | slice:0:32}}</td>
      <td class="width-131px" style="word-break: break-all">{{user.emailAddress | slice:0:32}}</td>
      <td class="width-91px">{{user.phoneNumber}}</td>
      <td class="width-91px">
        <a href="https://stellar.expert/explorer" class="purple-link" target="_blank">
          {{user.account}}
        </a>
      </td>
      <td class="width-101px">
        <a href="javascript:void(0)" class="purple-link">
          {{user.grayllId}}
        </a>
      </td>
      <td class="width-71px">{{user.gry1accessActive ? 'Active' : 'Paused'}}</td>
      <td class="width-71px">{{user.gry2accessActive ? 'Active' : 'Paused'}}</td>
      <td class="width-71px">{{user.gry3accessActive ? 'Active' : 'Paused'}}</td>
      <td class="width-71px">{{user.grzaccessActive ? 'Active' : 'Paused'}}</td>
      <td class="width-71px">{{user.appSignInActive ? 'Active' : 'Paused'}}</td>
      <td class="width-81px purple-link" (click)="goToUserAccountDetails(user)">
        View User Account Details
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="justify-content-center align-items-center mt-4" id="tabs" *ngIf="selectedTab.id === 'uad' && selectedUser">
  <ngb-tabset>
    <ngb-tab title="GRAYLL System Activity" id="system-activity">
      <ng-template ngbTabContent>
        <app-activity [userAccount]="'111222333444555666'"></app-activity>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="GRAYLL Wallet Activity" id="wallet-activity">
      <ng-template ngbTabContent>
        <app-account-activity [userAccount]="'111222333444555666'"></app-account-activity>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
