<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total User Account Balance</span>
            <div class="data-tip">
              <span>$100,000,000,000</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10 text-light">
        <div class="row mb-2 font-weight-bolder">
          <div class="col">
            <span>XLM/USD $0.11223</span>
          </div>
          <div class="col text-center">
            <span>XLM/GRX 0.39222</span>
          </div>
          <div class="col text-right">
            <span>GRX/USD $0.02334</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total XLM User Balances</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            1,000,000,000,000 XLM
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total GRX User Balances</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            200,000,000,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total XLM User Loans</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            100,000 GRX
          </div>
          <div class="col text-right">
            $11,000.00
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5 pr-0">
            <span class="font-weight-bolder">XLM Loan Wallet Balance</span>
          </div>
          <div class="col-4">
            100,000 XLM
          </div>
          <div class="col-3 pl-0 text-right">
            $11,000.00
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5 pr-0">
            <span class="font-weight-bolder">System 1 | Wallet Balance</span>
          </div>
          <div class="col-4">
            100,000 XLM
          </div>
          <div class="col-3 pl-0 text-right">
            $11,000.00
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-5 pr-0">
            <span class="font-weight-bolder">System 2 | Wallet Balance</span>
          </div>
          <div class="col-4">
            100,000 XLM
          </div>
          <div class="col-3 pl-0 text-right">
            $11,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">GRX Account Balances</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row mb-2">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total Supply GRX</span>
          </div>
          <div class="col text-right font-weight-bolder">
            <span>12,500,000,000 GRX</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder pr-0">
            <span>Available Circulating Supply GRX</span>
          </div>
          <div class="col text-right pl-0">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            200,000,000,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder pr-0">
            <span>Total System Balance GRX</span>
          </div>
          <div class="col text-right pl-0">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            200,000,000,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder pr-0">
            <span>Algo System Reserve Supply GRX</span>
          </div>
          <div class="col text-right pl-0">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            100,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder pr-0">
            <span>Hot Wallet | 1 Balance GRX</span>
          </div>
          <div class="col text-right pl-0">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            100,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder pr-0">
            <span>Hot Wallet | 2 Balance GRX</span>
          </div>
          <div class="col text-right pl-0">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            100,000 GRX
          </div>
          <div class="col text-right">
            $1,000,000,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card border-0 text-light" style="background-color: #636fa4 !important;">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">GRY | GRZ</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body bg-gradient font-10">
        <div class="row mb-2 font-weight-bolder">
          <div class="col">
            <span>GRY/USD $0.11223</span>
          </div>
          <div class="col text-center">
            <span>GRY/XLM 0.39222</span>
          </div>
          <div class="col text-right">
            <span>GRY/GRX $0.39222</span>
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col-9 pr-0">
            <div class="row">
              <div class="col-3 pr-0">
                <p class="mb-0 font-weight-bolder">GRY/GRX</p>
              </div>
              <div class="col pl-0">
                <p class="mb-0">24h <span class="text-pink">100.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-3 pr-0">
                <p class="mb-0 font-weight-bolder">GRY/XLM</p>
              </div>
              <div class="col pl-0">
                <p class="mb-0">24h <span class="text-pink">100.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00</span></p>
              </div>
            </div>
          </div>
          <div class="col-3 pl-0">
            <div>
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>
        <div class="row mt-4 font-weight-bolder">
          <div class="col">
            <span>GRZ/USD $0.11223</span>
          </div>
          <div class="col text-center">
            <span>GRZ/XLM 0.39222</span>
          </div>
          <div class="col text-right">
            <span>GRZ/GRX $0.39222</span>
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col-9 pr-0">
            <div class="row">
              <div class="col-3 pr-0">
                <p class="mb-0 font-weight-bolder">GRZ/GRX</p>
              </div>
              <div class="col pl-0">
                <p class="mb-0">24h <span class="text-pink">100.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-3 pr-0">
                <p class="mb-0 font-weight-bolder">GRY/XLM</p>
              </div>
              <div class="col pl-0">
                <p class="mb-0">24h <span class="text-pink">100.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00</span></p>
              </div>
            </div>
          </div>
          <div class="col-3 pl-0">
            <div>
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total Algo Positions Value</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total Algo Position Value</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000 XLM
          </div>
          <div class="col text-right">
            1,000,000,000,000 GRX
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-light font-weight-bolder">
            <span>GRZ | Arkady</span>
          </div>
          <div class="col text-right">
            <span>24h
              <span class="text-orange">-<span class="text-orange">10.00%</span></span>
              | 7d
              <span class="text-orange">-<span class="text-orange">50.00%</span></span>
              | 28d
              <span class="text-orange">-<span class="text-orange">100.00%</span></span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">28 Day User Algo Profits</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total GRY | <i>3xMagi</i></span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRZ | Arkady</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7 text-light pr-0">
            28d User Profits: 1,000,000,000,000 GRX
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total Algo Positions</span>
            <div class="data-tip">
              <span>100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Total Algo Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRZ | Arkady Positions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Closed 28d 1,000,000,000,000
          </div>
          <div class="col text-right">
            Open 1,000,000,000,000
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card no-margin-bottom-xl">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Median User Algo Profits</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Median User Algo Profits</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRZ | Arkady Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card no-margin-bottom-lg">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Median User Algo Profits</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>Median User Algo Profits</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRZ | Arkady Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            28d Median User Profits: 1,000 GRX
          </div>
          <div class="col text-right">
            Median Value $1,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="display: grid">
    <div class="card no-margin-bottom-lg">
      <div class="card-header card-header-pink border-bottom-0 font-12">
        <div class="row">
          <div class="col">
            <span class="header-title">Total Algo Commissions</span>
            <div class="data-tip">
              <span>$100,000,000,000.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body data-box font-10" style="border-bottom: 1px solid #40424f;">
        <div class="row">
          <div class="col-5 text-light font-weight-bolder pr-0">
            <span>Total Algo Commissions Value</span>
          </div>
          <div class="col text-right pl-0">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            1,000,000,000 XLM
          </div>
          <div class="col text-right">
            1,000,000,000,000 GRX
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 1 | Balthazar Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 2 | Kaspar Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRY 3 | Melkior Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
        <div class="row">
          <div class="col-5 text-light font-weight-bolder">
            <span>GRZ | Arkady Commissions</span>
          </div>
          <div class="col text-right">
            <span>24h <span class="text-pink">10.00%</span> | 7d <span class="text-pink">50.00%</span> | 28d <span class="text-pink">100.00%</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            Open Positions 1,000,000,000 XLM
          </div>
          <div class="col text-right">
            Value $1,000,000,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
